# Essential
cupy-cuda12x # This depends on your version of cuda toolkit you have on your system, also you can run without this with just using numpy
numpy

# These are for the experiments.
scikit-learn
datasets
Pillow

